.venv/
__pycache__/
*.pyc
.DS_Store

# Ignore all generated data by default…
data/*
# …but keep the one file we need to deploy
!data/warehouse.duckdb

# still ignore exports + intermediate dirs if you want them never committed
data/exports/
data/bronze/
data/silver/
data/gold/

config.yaml

